################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QuickLearn.BE/obj
/QuickLearn.BE/bin/Debug/net9.0
/QuickLearn.BE/.vs/QuickLearn.BE
/QuickLearn.BE/.vs/ProjectEvaluation
/QuickLearn.BE/bin/Release/net9.0
/QuickLearn.BE/Properties/PublishProfiles
/QuickLearn.BE/QuickLearn.BE.csproj.user
